$color-primary:#fea30b;
$color-secondary:#84695A;
$color-white:#ffffff;

$color-orange-1:#FFEDCE;

$color-grey-1:#151515;
$color-grey-2:#333333;
$color-grey-3:#979797;
$color-grey-4:#f8f8f8;
$color-grey-5:#000;